* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;
  padding: 0 30px;
  background-color: #c2c2af;
}

header h1 {
  font-size: 40px;
  color: #252525;
  cursor: pointer;
}

header div {
  width: 50px;
  height: 50px;
  border: #252525 solid 2px;
  border-radius: 50%;
  cursor: pointer;
}

.search {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #252525;
  border-bottom: 1px solid black;
}

.search label {
  font-size: 25px;
  color: white;
}

.search input {
  margin-left: 20px;
  min-width: 200px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.search button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

section {
  background-color: #f6f5e8;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-title {
  margin: 15px 0;
}

.movie-title h3 {
  margin-bottom: 100px;
}

.up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 15px 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #252525;
  color: white;
}

/* 상세페이지 */
.sub_page {
  padding: 20px 0 30px 40px;
  background-color: #000;
}
.sub_page .movie_info {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #1b1c1d;
}
.sub_page .movie_info .text_wrap {
  width: 440px;
}
.sub_page .movie_info .tit {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.sub_page .movie_info .info_list {
  display: flex;
  margin-top: 25px;
  padding-bottom: 20px;
}
.sub_page .movie_info .info_list > li {
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  color: #babac1;
}
.sub_page .movie_info .info_list > li:not(:first-child) {
  padding-left: 10px;
  margin-right: 10px;
}
.sub_page .movie_info .info_list > li:not(:first-child)::before {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #babac1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

}
.sub_page .movie_info .desc {
  margin-top: 10px;
  font-size: 15px;
  color: #84868d;
  letter-spacing: 0px;
  line-height: 22px;
}
.sub_page .movie_info .btn_box {
  margin-top: 20px;
}
.sub_page .movie_info .btn_box button {
  font-size: 15px;
  color: #fff;
  outline: none;
  border: none;
}
.sub_page .movie_info .btn_box > button {
  font-size: 15px;
  font-weight: 500;
  background-color: #000;
}
.sub_page .movie_info .btn_box > .btn_two {
  margin-top: 30px;
}
.sub_page .movie_info .btn_box .btn_pink {
  border-radius: 4px;
  background-color: #f82f62;
  padding: 10px 30px;
}
.sub_page .movie_info .btn_box button:not(:first-child) {
  margin-left: 10px;
}
.sub_page .movie_cont {
  padding: 30px 0;
}
.sub_page .movie_cont .event_list > li {
  font-size: 15px;
  color: #babac1;
}
.sub_page .movie_cont .event_list > li:not(:first-child) {
  margin-top: 10px;
}
.sub_page .movie_cont .banner {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  background-color: #0C101B;
  border-radius: 8px;
}
.sub_page .movie_cont .banner img {
  display: block;
  width: 700px;
  height: 100%;
  margin: 0 auto;
}
.sub_page .movie_cont .cont_info {
  margin-top: 70px;
  max-width: 1280px;
}
.sub_page .movie_cont .cont_item {
  margin-top: 40px;
}
.sub_page .movie_cont .tit {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.sub_page .movie_cont .video_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.sub_page .movie_cont .video_list li {
  width: 330px;
  height: 180px;
}
.sub_page .movie_cont .video_list a {
  display: block;
  width: 330px;
  height: 180px;
}
.sub_page .movie_cont .video_list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.sub_page .movie_cont .tit_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_page .movie_cont .tit_area .btn_more {
  font-size: 15px;
  color: #84868d;
  text-decoration: none;
}
.sub_page .movie_cont .char_list {
  display: flex;
  flex-wrap: wrap;
}
.sub_page .movie_cont .char_list > li {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}
.sub_page .movie_cont .char_list > li img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.sub_page .movie_cont .char_list .txt_area {
  margin-left: 10px;
}
.sub_page .movie_cont .char_list .txt_area strong {
  font-size: 15px;
  color: #fff;
}
.sub_page .movie_cont .char_list .txt_area p {
  margin-top: 10px;
  font-size: 13px;
  color: #84868d;
}
.sub_page .movie_cont .review_list > li {
  display: flex;
  margin-top: 20px;
}
.sub_page .movie_cont .review_list .img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.sub_page .movie_cont .review_list .txt_area {
  margin-left: 10px;
}
.sub_page .movie_cont .review_list .txt_area strong {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.sub_page .movie_cont .review_list .txt_area span {
  width: 10px;
  height: 10px;
}
.sub_page .movie_cont .review_list .txt_area p {
  font-size: 14px;
  margin-top: 10px;
  color: #84868d;
}



@media screen and (max-width: 992px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
