* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
  position: relative;
  height: 100%;
  background: white;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;
  padding: 0 30px;
  background-color: #000;
}

header h1 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 13px;
  letter-spacing: 0px;
  line-height: 34px;
}

/*header div {
  width: 50px;
  height: 50px;
  border: #ffffff solid 2px;
  border-radius: 50%;
  cursor: pointer;
}*/
.search-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: black;
  border-bottom: 0.1px solid white;
}
.search-container .search {
  position: relative;
  width: 300px;
  height: 100%;
  margin: 10px auto 20px;
}

.search-container .search input {
  min-width: 300px;
  padding: 10px 30px 10px 34px;
  border-radius: 4px;
  background-color: #444;
  font-size: 15px;
  color: #fff;
  border: none;
  outline: none;
}
.search-container .search input::placeholder {
  color: #bbb;
}
/* .search-container .search button {
    margin-left: 5px;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    background: #f82f62;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 20px;
    padding: 8px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #f82f62;
    border-radius: 24px;
} */
.search-container .search button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-container .search #search-btn {
  left: 7px;
}
.search-container .search #reset-btn {
  right: 7px;
}
section {
  background-color: #000;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  border-top: 1px #1b1c1d solid;
}

.movie-card {
  display: flex;
  flex-direction: column;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  justify-self: center;
  background-color: #000;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-title {
  margin-top: 10px;
  color: #fff;
}

.movie-rating {
  display: inline-block;
  margin-top: 5px;
  color: #babac1;
}

.up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 15px 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #252525;
  color: white;
}

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content !important;
    }

    .swiper-slide img {
      display: block;
      width: 600px;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin: 20px auto;
    }

    .append-buttons {
      text-align: center;
      margin-top: 20px;
    }

    .append-buttons button {
      display: inline-block;
      cursor: pointer;
      border: 1px solid #007aff;
      color: #007aff;
      text-decoration: none;
      padding: 4px 10px;
      border-radius: 4px;
      margin: 0 10px;
      font-size: 13px;
    }

    .swiper-slide img.sub {
      display: block;
      width: 300px;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }

    .divider{
      padding: 20px 0 20px 0;
      background-color: #000;
    }

@media screen and (max-width: 1400px) {
  .card-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
