* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;
  padding: 0 30px;
  background-color: #000;
}

header h1 {
  font-size: 28px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0 0 13px;
  letter-spacing: 0px;
  line-height: 34px;
}

/*header div {
  width: 50px;
  height: 50px;
  border: #ffffff solid 2px;
  border-radius: 50%;
  cursor: pointer;
}*/

.search {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: black;
  border-bottom: 0.1px solid white;
}

.search label {
  font-size: 25px;
  color: white;
}

.search input {
  margin-left: 5px;
  min-width: 200px;
  padding: 5px 10px;
  border: none;
  border-radius: 14px;

}

.search button {
    margin-left: 5px;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    background: #f82f62;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 20px;
    padding: 8px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #f82f62;
    border-radius: 24px;
}

section {
  background-color: #000;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-title {
  margin: 15px 0;
}

.movie-title h3 {
  margin-bottom: 100px;
}

.up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 15px 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #252525;
  color: white;
}

body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
